<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Template</title>

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">

</head>
<body>
    <header id="header">
        <div class="center">
            <!-- LOGO -->
            <div id="logo">
                <img src="assets\images\vue.png" class="app-logo" alt="Logotipo">
                <span id="brand">
                    <strong>Re</strong> Vue
                </span>
            </div>

            <!-- MENÚ -->
            <navd id="menu">
                <ul>
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Formulario</a>
                    </li>
                    <li>
                        <a href="#">Página 1</a>
                    </li>
                    <li>
                        <a href="#">Página 2</a>
                    </li>
                </ul>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </header>
    
    
    <div class="center">
        
            <section id="content">
        
                    
                    <div id="articles">
                    <article class="article-item" id="article-template">
                        <div class="image-wrap">
                            <img src="https://images.unsplash.com/photo-1496144300411-8dd31ce145ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1072&q=80" alt="Article">
                        </div>
                        <h2>
                             Título
                        </h2>
                        <span class="date">
                                Hace 5 minutos
                        </span>
                        <a href="#">Lee mas</a>
                        <div class="clearfix"></div>
                    </article>
                    </div>
                    
                </section>

        <aside id="sidebar">
            <div id="nav-blog" class="sidebar-item">
                <h3>
                    Crear artículo
                </h3>
                <a href="#" class="btn btn-success">
                    Crear Artículo
                </a>
            </div>

            <div id="search" class="sidebar-item">
                <h3>
                    Buscador
                </h3>
                <p>
                    Busca el artículo que quieras
                </p>
                <form>
                    <input type="text" name="search"/>
                    <input type="submit" name="submit" value="buscar" class="btn btn-success"/>
                </form>
            </div>
        </aside>
        <div class="clearfix"></div>
    </div>

    <footer id="footer">
        <div class="center">
            <p>
                &copy; Made in Colombia with &hearts;
            </p>
        </div>
    </footer>
</body>
</html>