body{
    text-align:center;
    margin:  0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing:antialiased;

}

#header{
    height: 120px; 
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #42b883;
}

#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    animation: girar infinite 30s linear;
    margin-right: 10px;
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#brand{
    display:block;
    margin: 0px;
    float: left;
}

.center
{
    width:75%;
    margin: 0px auto;
}

#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover{
    color:#42b883;
}



.clearfix{
    clear:both;
    float:none;
}

#slider{
    background: rgb(66,184,131);
    background: radial-gradient(circle, rgba(66,184,131,1) 0%, rgba(53,73,94,1) 100%);
    width: 100%;
    height: 350px;
    color:white;
    text-shadow: 0px 0px 5px #444;
}

#slider h1{
    margin-top: 0.2px;
    padding:0px;
    padding-top: 133px;
    text-align: center;
}

.btn-white{
    display: block;
    background: white;
    color: rgb(106, 105, 105);
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px #444;
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover{
    background: #444;
    color: white;
}

#slider.slider-small
{
    height: 150px;
}

#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}

#content{
    width: 70%;
    float: left;
    min-height: 1450px;
    margin-right: 20px;
}

#sidebar{
    width: 25%;
    float: left;
}

.sidebar-item{
    background: #f7f7f7;
    padding: 15px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px;
    border-bottom: 3px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border-radius: 4px;
    margin: 0px auto;
    border:none;
    cursor: pointer;
}

.sidebar-item-item .btn{
    margin-top: 10px;
    
}

.btn-success{
    background: #42b883;
    
}

.btn-success:hover{
    background: #35495e;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    border:1px solid #eee;
    margin-bottom: 10px;
    border-radius: 4px;
    padding:3px;
    transition: 300ms all;
}

input[type="text"]:focus{
    border-radius: 4px;
    box-shadow: 0px 0px 5px #35495e inset;
}

#footer{
    background: #35495e;
    width: 100%;
    height: 70px;
    line-height: 65px;
    color: #444;
}

#footer p{
    color: white;
    margin: 0px;
    padding: 0px;
}


.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: rgb(113, 113, 113);
}

.article-item a{
    display: block;
    color:#444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover{
    text-decoration: underline;

}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}